<div class="center">
    <form class="example-form" [formGroup]="complaintForm" (ngSubmit)="complaintForm1()">

        <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly value="AUTO">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Complaint Title</mat-label>
            <input matInput formControlName="complaintTitle">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Complaint</mat-label>
            <textarea matInput formControlName="complaint"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>status</mat-label>
            <input matInput formControlName="status" readonly value="PENDING" style="color: coral;">

        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" [mat-dialog-close]>Send</button>
    </form>

</div>