<img src="../../assets/home.jpg" style="margin-left: 25em; margin-bottom: 3em;"/>
<p style="font-size: large;" class="jumbotron" style=" background-color:coral; color: white;"><strong> Welcome</strong> to our Complaint Portal, as an "ABC" company we really care about the feedback from our users and we would love to ask you to feel comfortable and tell us what you need!
   <br><br>
  Knowing and understanding customer needs is the focal point of our business. The more we know about our customers, the more effective we will be.
</p>
  